{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Room - {{room_name}}</legend>
    </fieldset>
    <h5 class="border-bottom mb-2">Participants</h5>
    <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
                    aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">Person Name</th>
                    <th class="text-center">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                <tr>
                    <td class="pt-3-half" contenteditable="false">{{ participant.name }}</td>
                    <td class="pt-3-half" contenteditable="false">{{ participant.score }}</td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}